<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Czy na pewno chcesz usunąć ten element?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="text-dark" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Po usunięciu nie będzie możliwości cofnięcia akcji!
            </div>
            <div class="modal-footer bg-gradient-dark">
                <button type="button" class="btn bg-danger delete-item-confirm mb-1 text-light" data-bs-dismiss="modal">usuń</button>
                <button type="button" class="btn bg-secondary mb-1 text-light" data-bs-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>